<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm thẻ thành công</title>
    <link rel="icon" type="image/svg+xml"  th:href="@{/static/img/Vie.svg}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/static/css/login.css}">
</head>
<body>
<section class="app">
    <div class="container" style="height: 50%;">
        <div class="login-form" style=" min-height: auto;">
            <img th:src="@{/static/img/credit-card (1).png}" style="width: 192px; height: 180px">
            <h1 style="font-size: 25px;">Thêm thành công</h1>
            <button type="submit" class="btn-login" style="width:48%;">Quay lại</button>
        </div>
    </div>

</section>
</body>
</html>
