<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập tài khoản của bạn</title>
    <link rel="icon" type="image/svg+xml"  th:href="@{/static/img/Vie.svg}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/static/css/login.css}">
</head>
<body>
<section class="app">
    <div class="container" style="height: 60%;">
        <div class="login-form" style=" min-height: auto;">
            <img th:src="@{static/img/message.png}" style="width: 192px; height: 180px">
            <h1 style="font-size: 25px;">Gửi yêu cầu thành công</h1>
            <button type="submit" class="btn-login" style="width: 80%;">Tiếp tục đăng nhập</button>
        </div>
    </div>

</section>
</body>
</html>
