<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>403 - Forbidden</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container text-center">
        <div class="jumbotron mt-5">
            <h1 class="display-4">403 - Forbidden</h1>
            <p class="lead">Bạn không có quyền truy cập vào tài nguyên này.</p>
            <a href="javascript:history.back()" class="btn btn-primary btn-lg">Quay lại</a>
        </div>
    </div>
</section>
</body>
</html>
