@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
    line-height: normal;
}

body {
  height: 100vh;
  margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 600px;
    height: 700px;
    padding: 40px;
    border-radius: 24px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 10px 7.8px 0px rgba(0, 0, 0, 0.25);
}

.container #forgotpass{
    color: #696969;
    margin-top: 50px;
}

.login-form {
    justify-content: space-between;
    text-align: center;
    width: 364px;
    min-height: 469px;
}

.login-form h1 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0px;
}

.login-form p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 52px;
}

.login-form input {
    width: 100%;
    height: 52px;
    padding: 14px 20px;
    margin: 15px 0;
    font-size: 14px;
    border: none;
    border-radius: 16px;
    background-color: #F0EDFFCC;
}
.login-form form div img {
    cursor: default;
    position: absolute;
    top: 40px;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
}
.login-form input:focus{
    background-color: #e5e1f9cc ;
    transition: all 0.3s;
}
.login-form input-place{
    justify-content: center;
}

.login-form button {
    width: 125px;
    height: 52px;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;

    border: none;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.4s;
    color: #F0EDFF;
    background: linear-gradient(100deg, #9181F4 -5.85%, #5038ED 109.55%);
}

.login-form button:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 3px 0px 0 rgba(0,0,0,0.19);
}

.login-with-others {
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
.login-with-others hr {
    border-top: 1px solid #F0EDFF;
    max-width: 364px;
}

.login-with-others p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-with-others a {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #F0EDFF;
    border-radius: 16px;
    text-decoration: none;
    color: #333;
}

.google-btn,
.facebook-btn{
    align-items: center;
}
.google-btn:hover,
.facebook-btn:hover {
    transition: all 0.4s;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 3px 0px 0 rgba(0,0,0,0.19);
}

.login-with-others a img {
    margin-right: 10px;
    width: 28px;
}

#password {
    position: relative;
}

#toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
