<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vie Cinema: Hệ Thống Rạp Chiếu Phim Hại Điện</title>
        <link rel="icon" type="image/svg" th:href="@{/static/img/Vie.svg}" />
        <link rel="stylesheet" th:href="@{/static/css/home.css}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.0/lazysizes.min.js" async></script>
        <!-- Include any specific meta tags or CSS/JS files for this page -->
    </head>
    <body>
    <!-- Include layout -->
    <section layout:fragment="content">
        <div class="container custom-scrollbar">
            <div class="slider">
                <div class="list">
                    <div class="item">
                        <img class="d-block w-100 lazyload"
                             th:src="@{/static/img/placeholder.png}"
                             data-src="https://image.tmdb.org/t/p/original/vblTCXOWUQGSc837vgbhDRi4HSc.jpg"
                             alt="Movie Poster 1">
                    </div>
                    <div class="item">
                        <img class="d-block w-100 lazyload"
                             th:src="@{/static/img/placeholder.png}"
                             data-src="https://image.tmdb.org/t/p/original/cmgjr2saprHvYw6Ee7MUIqGVQHn.jpg"
                             alt="Movie Poster 2">
                    </div>
                    <div class="item">
                        <img class="d-block w-100 lazyload"
                             th:src="@{/static/img/placeholder.png}"
                             data-src="https://image.tmdb.org/t/p/original/SI22DaQXIfDvLrNBHGpSVShrsC.jpg"
                             alt="Movie Poster 3">
                    </div>
                    <div class="item">
                        <img class="d-block w-100 lazyload"
                             th:src="@{/static/img/placeholder.png}"
                             data-src="https://image.tmdb.org/t/p/original/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg"
                             alt="Movie Poster 4">
                    </div>
                    <div class="item">
                        <img class="d-block w-100 lazyload"
                             th:src="@{/static/img/placeholder.png}"
                             data-src="https://image.tmdb.org/t/p/original/fDmci71SMkfZM8RnCuXJVDPaSdE.jpg"
                             alt="Movie Poster 5">
                    </div>
                </div>
                <div class="buttons">
                    <button id="prev"><</button>
                    <button id="next">></button>
                </div>
                <ul class="dots">
                    <li></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="top-content">
                <div>
                    <ul class="task-list">
                        <li id="new-movie" class="page-active" th:th:data-url="@{/home}">Phim mới</li>
                        <li id="now-playing" th:th:data-url="@{/now-playing}">Đang chiếu</li>
                        <li id="coming-soon" th:data-url="@{/coming-soon}">Sắp chiếu</li>
                        <li id="IMAX">IMAX</li>
                    </ul>
                </div>
            </div>
            <div class="middle-content">
                <div th:each="row : ${#numbers.sequence(0, movies.size() / 4)}">
                    <div class="card-row">
                        <div th:each="movie : ${movies.subList(row * 4, T(java.lang.Math).min((row + 1) * 4, movies.size()))}" class="movie-cards">
                            <div class="card-item">
                                <img th:data-src="'https://image.tmdb.org/t/p/w500' + ${movie.posterPath}" alt="" th:src="@{/static/img/placeholder.png}" class="lazyload">
                            </div>
                            <span class="movie-title" th:text="${movie.title}"></span>
                            <div class="overlay">
                                <div class="card-buttons">
                                    <a href="#" class="buy-ticket">Mua vé</a>
                                    <a href="#" class="watch-trailer" th:data-video-id="${movie.videoId}">Xem trailer</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Video Modal -->
                    <div id="videoModal" class="modal">
                        <div class="modal-content">
                            <span class="close video-close">&times;</span>
                            <iframe id="videoFrame" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div id="videoError" style="color: rgb(255, 123, 0); display: none;">Không thể phát video. Vui lòng thử lại sau.</div>
                        </div>
                    </div>

                    <div id="consentModal" class="cookie-law-info-bar">
                        <div class="cookies-content">
                            <div>
                                <span class="close consent-close">&times;</span>
                                <h4>Cookies consent for VieCinema.com</h4>
                                <p>We use cookies on our website to help us provide you with the best, most relevant experience, for analytics and to improve functionality. We may share your information with advertising and analytics partners. You may disable cookies through your browser, but this will limit the functions of the website. Learn more about privacy on our website.</p>
                                <p>By clicking accept, you consent to the use of all cookies.</p>
                            </div>
                            <div class="cookies-buttons">
                                <button id="declineCookies">Decline</button>
                                <button id="acceptCookies">Accept</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="btn-more">
                    <a th:href="@{/now-playing}">Xem thêm</a>
                </button>
                <hr>
            </div>

            </div>
            <div class="bottom-content">
                <div>
                    <ul class="task-list">
                        <li id="cinema-corner"><b>Góc điện ảnh</b></li>
                        <li id="movie-commentary">Bình luận phim</li>
                        <li id="blogs">Blog điện ảnh</li>
                    </ul>
                </div>
                <div class="blog-container">
                    <div class="main-blog">
                        <!-- <button class="play-button" class="watch-trailer" data-video-id="9phK0prtuJM">
                          <i class="play-icon"></i> </button>
                        </button> -->
                        <img data-src="https://image.tmdb.org/t/p/w500/wAIFnJ5OeFU7tTnCWHiROsszS29.jpg" th:src="@{/static/img/placeholder.png}" class="lazyload" alt="movie-name">
                        <h3 hrel="#">Inside Out 2: Thảm họa cảm xúc tuổi dậy thì</h3>
                    </div>
                    <div class="small-blogs">
                        <div class="small-blog">
                            <img data-src="https://image.tmdb.org/t/p/w500/wAIFnJ5OeFU7tTnCWHiROsszS29.jpg" th:src="@{/static/img/placeholder.png}" class="lazyload" alt="Blog 1">
                            <div class="blog-content">
                                <a href="#">
                                    <h4>[Blog Title]</h4>
                                </a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="small-blog">
                            <img data-src="https://image.tmdb.org/t/p/w500/wAIFnJ5OeFU7tTnCWHiROsszS29.jpg" th:src="@{/static/img/placeholder.png}" class="lazyload" alt="Blog 2">
                            <div class="blog-content">
                                <a href="#">
                                    <h4>[Blog Title]</h4>
                                </a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="small-blog">
                            <img data-src="https://image.tmdb.org/t/p/w500/wAIFnJ5OeFU7tTnCWHiROsszS29.jpg" th:src="@{/static/img/placeholder.png}" class="lazyload" alt="Blog 3">
                            <div class="blog-content">
                                <a href="#">
                                    <h4>[Blog Title]</h4>
                                </a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div id="introduction">
                <div>
                    <h2>TRANG CHỦ</h2>
                    <p>
                        Đến website VieCinema.online, khách hàng sẽ dễ dàng tham khảo các <strong>phim hay nhất</strong>, <strong>phim mới nhất</strong> đang chiếu hoặc sắp chiếu luôn được cập nhật thường xuyên.<br>
                        <strong>Lịch chiếu</strong> tại tất cả hệ thống <strong>rạp chiếu phim</strong> của <strong>Vie Cinema</strong> cũng được cập nhật đầy đủ hàng ngày hàng giờ trên <strong>trang chủ</strong>.
                    </p>
                    <p>
                        Giờ đây đặt vé tại <strong>Vie Cinema</strong> càng thêm dễ dàng chỉ với <em>vài thao tác vô cùng đơn giản</em>. Để mua vé, hãy vào tab <strong>Mua vé</strong>. Quý khách có thể chọn <strong>Mua vé</strong> theo phim, theo rạp, hoặc theo ngày. Sau đó, tiến hành mua vé theo các bước hướng dẫn. Chỉ trong vài phút, quý khách sẽ nhận được tin nhắn và email phản hồi <strong>Đặt vé thành công</strong> của <strong>Vie Cinema</strong>. Quý khách có thể dùng tin nhắn lấy vé tại quầy vé của <strong>Vie Cinema</strong> hoặc quét mã QR để một bước vào rạp mà không cần tốn thêm bất kỳ công đoạn nào nữa.
                    </p>
                    <p>
                        Nếu bạn đã chọn được <strong>phim hay</strong> để xem, hãy đặt vé cực nhanh bằng box <strong>Mua Vé Nhanh</strong> ngay từ <strong>Trang Chủ</strong>. Chỉ cần một phút, tin nhắn và email phản hồi của <strong>Vie Cinema</strong> sẽ gửi ngay vào điện thoại và hộp mail của bạn.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script>
        let list = document.querySelector(".slider .list");
        let items = document.querySelectorAll(".slider .list .item");
        let dots = document.querySelectorAll(".slider .dots li");
        let prev = document.getElementById('prev');
        let next = document.getElementById("next");

        let active = 1;
        let lengthItem = items.length - 1;

        next.onclick = function () {
          if (active + 1 > lengthItem) {
            active = 0;
          } else {
            active += 1;
          }
          reloadSlider();
        };

        prev.onclick = function () {
          if (active - 1 <0) {
            active = lengthItem;
          } else {
            active -= 1;
          }
          reloadSlider();
        };

        let refreshSlider = setInterval(() => {
          next.click();
        }, 5000);

        function reloadSlider() {
          let checkLeft = items[active].offsetLeft;
          list.style.left = -checkLeft + 'px';

          let lastActiveDot = document.querySelector('.slider .dots li.active');
          if (lastActiveDot) {
            lastActiveDot.classList.remove('active');
          }
          dots[active].classList.add('active');
          clearInterval(refreshSlider);
          refreshSlider = setInterval(() => {
            next.click();
          }, 5000);
        }

        dots.forEach((li, key) => {
          li.addEventListener('click', function () {
            active = key;
            reloadSlider();
          });
        });

        reloadSlider(); // Ensure initial state is correct
    </script>
    <script>
        // Get modal elements
        var modal = document.getElementById("videoModal");
        var videoFrame = document.getElementById("videoFrame");
        var span = document.getElementsByClassName("close")[0];

        // Add event listeners to "Xem trailer" buttons
        var trailerButtons = document.querySelectorAll(".watch-trailer");
        trailerButtons.forEach(function(button) {
          button.addEventListener("click", function(event) {
            event.preventDefault();
            var videoId = this.getAttribute("data-video-id");
            var videoUrl = "https://www.youtube.com/embed/" + videoId + "?autoplay=1";

            // Reset iframe src
            videoFrame.src = "";

            // Set iframe src to video URL and display modal
            videoFrame.src = videoUrl;
            modal.style.display = "block";
          });
        });

        // Close the modal
        span.onclick = function() {
          modal.style.display = "none";
          videoFrame.src = "";
        }

        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
            videoFrame.src = "";
          }
        }

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var videoModal = document.getElementById('videoModal');
            var videoFrame = document.getElementById('videoFrame');
            var videoClose = document.querySelector('.video-close');

            var consentModal = document.getElementById('consentModal');
            var consentClose = document.querySelector('.consent-close');
            var acceptCookies = document.getElementById('acceptCookies');
            var declineCookies = document.getElementById('declineCookies');

            // Function to show video modal
            function showModal(videoUrl) {
                videoFrame.src = videoUrl;
                videoModal.style.display = 'flex';
            }

            // Function to close video modal
            videoClose.onclick = function() {
                videoModal.style.display = 'none';
                videoFrame.src = '';
            }

            // Function to close consent modal
            consentClose.onclick = function() {
                consentModal.style.display = 'none';
            }

            // Check if consent was already given
            if (!localStorage.getItem('cookiesAccepted')) {
                consentModal.style.display = 'flex';
            }

            // Handle cookie consent actions
            acceptCookies.onclick = function() {
                localStorage.setItem('cookiesAccepted', 'true');
                consentModal.style.display = 'none';
            }

            declineCookies.onclick = function() {
                consentModal.style.display = 'none';
            }

            // Close video modal when clicking outside the modal
            window.onclick = function(event) {
                if (event.target == videoModal) {
                    videoModal.style.display = 'none';
                    videoFrame.src = '';
                }
                if (event.target == consentModal) {
                    consentModal.style.display = 'none';
                }
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const taskList = document.querySelectorAll('.task-list li');

        taskList.forEach(function (item) {
          item.addEventListener('click', function () {
            // Remove active class from all items
            taskList.forEach(function (li) {
              li.classList.remove('page-active');
            });
            // Add active class to the clicked item
            this.classList.add('page-active');

            // Navigate to the corresponding page
            const url = this.getAttribute('data-url');
            if (url) {
              window.location.href = url;
            }
          });
        });
      });
    </script>
    </body>
</html>
